:root {
    --background-color: #F8F4E9;
    --background-darker-color: #D4CAB6;
    --light-blue: #BDC4D4;
    --blue: #52667E;
    --dark-blue: #1D2E4A;
    --brown: #5A4033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);

    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
}

button, input {
    font-family: inherit;
}