@import "base.css";

body {
    position: relative;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 90vh;
    width: 90vw;
}

.login-title {
    font-family: "Ledger", serif;
    font-weight: 800;
    font-size: 30px;
    font-style: normal;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 50%;
    margin: 30px;
    padding: 20px;
    background-color: var(--background-darker-color);
}

.login-form__tittle {
    font-family: "Ledger", serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;

    margin-bottom: 20px;
}

.login-form__email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    width: 50%;
    margin-bottom: 20px;
}

.login-form__user {
    border: 1px solid var(--light-blue);
}

.login-form__user:focus {
    outline: 2px solid var(--blue);
}

.input-error {
    font-family: "Ledger", serif;
    font-weight: 400;
    font-size: 18px;

    margin-top: 10px;
    text-align: left;

    color: #e03232da;
}

.login-form__password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    width: 50%;
    margin-bottom: 20px;
}

.login-form__password {
    border: 1px solid var(--light-blue);
}

.login-form__password:focus {
    outline: 2px solid var(--blue);
}

.login-form__show-password-button, .login-form__hide-password-button {
    position: absolute;
    right: 0;

    width: 40px;
    height: 40px;
    background: transparent;
    border:none;
}

.login-form__show-password-button-img, .login-form__hide-password-button-img {
    width: 30px;
    height: 30px;
    display: block;

    :hover {
        cursor: pointer;
    }
}

.hide {
    display: none;
}

.login-form__button {
    font-family: "Ledger", serif;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;

    width: 50%;
    height: 30px;

    background-color: #111;
    color: #fff;
}

.login-form__button:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}

.login-form__button:active {
    background-color: var(--blue);
}

.login-form__line {
    display: flex;
    align-items: center;
    text-align: center;

    width: 50%;
    margin: 20px 0;
}


.login-form__line::before, .login-form__line::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #aaa;
}

.login-form__line::before {
    margin-right: 10px;
}

.login-form__line::after {
    margin-left: 10px;
}

.login-form__line-text {
    font-family: "Ledger", serif;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;

    color: #777;
}

.login-form__signup-button {
    width: 50%;
    height: 30px;

    background-color: #eee;

    a {
        text-decoration: none;

        font-family: "Ledger", serif;
        font-weight: 300;
        font-size: 18px;
        font-style: normal;
        color: #000;
    }
}

.login-form__signup-button:hover {
    background-color: var(--light-blue);
}

.login-form__signup-button:active {
    background-color: var(--blue);
}

.form-footer {
    color: #777;
}

.form_star {
    position: absolute;

    bottom: 0;
    right: 0;

    right: -50px;
    bottom: -30px;
}

.line {
    position: absolute;
}

.decoration-line-1 {
    width: 80px;
    height: 100%;
    left: 0;

    background-color: var(--dark-blue);
}

.decoration-line-2 {
    width: 80px;
    height: 100%;
    left: 80px;

    background-color: #1d2e4ad8;
}

.decoration-line-3 {
    width: 80px;
    height: 100%;
    right: 0;
    top: 0;

    background-color: var(--blue);
}

.decoration-line-4 {
    width: 20px;
    height: 100%;
    right: 80px;
    top: 0;

    background-color: var(--light-blue);
}